@use 'variables' as *;
form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    & > * {
        flex: 1 1 200px;
    }
    justify-content: center;
    align-items: start;
    margin-bottom: 80px;
    position: relative;
    button {
        color: white;
        padding: 0.5rem 1rem 0.5rem 1rem;
        min-width: 200px;
        border: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: light;
        background-color: $highlight;
        position: absolute;
        width: 100%;
        top:100%;
    }
    div {
        max-width: 100%;
    }

}
#details {
    margin-bottom: 1.5rem;
}

@for $i from 1 through 9 {
    .weight-container > *:nth-child(#{$i+1}) {
        font-weight: ($i+1)*100;
    }
  }
  